.all_str{
   height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: red;
}

.up_header{
    display: flex;
    background: #171a21;
}